{% load static %}
<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Desafio Virtus</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Virtus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Desafio Virtus</h1>
          <p class="lead">Teste de conhecimento em PYTHON, Django e DRF!</p>
          <ul class="list-unstyled">
            <li>Bootstrap 4.0.0</li>
            <li>jQuery 3.3.0</li>
          </ul>
        </div>
      </div>
    </div>
 <!-- CLIENTES -->
        <div class="container" id="clientes">
            <div class="row">
                <div class="col-lg-12 text-left">
                	<h1 class="mt-5">Clientes</h1>
                	<h3>Lorem ipsum </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis eu felis sed lacinia. Proin aliquet egestas libero,</p>

                </div>
            </div>
        </div>

    <!-- ABOUT -->
        <div class="container" id="about">
            <div class="row">
                <div class="col-lg-12 text-center">
                	<h1 class="mt-5">Sobre</h1>
                	<h3>Lorem ipsum </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis eu felis sed lacinia. Proin aliquet egestas libero,</p>

                </div>
            </div>
        </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
