<header class="header header-inline min-h-3 row desktop-12 container"
        role="banner">

  <div class="site-logo">
    <h1><a href="{% url 'home' %}" rel="home">Virtus</a></h1>
    <p class="site-description screen-reader-only">desafio Django e DRF</p>
  </div>

  <nav class="nav-inline text-dark" role="navigation">
    <a href="javascript:void(0);" class="nav-mobile text-dark "><i class="fa fa-bars"></i></a>
    <ul>

      <li><a data-scroll href="{% url 'listar_clientes' %}">Clientes</a></li>
      <li><a data-scroll href="Pedidos">Pedidos</a></li>
      <li><a data-scroll href="Sobre">Sobre</a></li>


    </ul>
  </nav>
</header>