{% extends 'base.html' %}
{% load static%}

{% block content %}

<section>
    <div class="content row padding-bottom-3 desktop-12 container">

        <h1>Incluir/Alterar Cliente</h1>
        <div class="desktop-6">
            <form method="POST">
                {% csrf_token %}

                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-row label-block input-text">
                        <label for="{{ form.nomerazaosocial.id_for_label }}">{{ form.nomerazaosocial.label }}</label>
                        {{ form.nomerazaosocial.errors }}
                        {{ form.nomerazaosocial }}
                    </div>

                    <div class="form-row label-block input-text">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>

                    <div class="form-row label-block input-text">
                        <label for="{{ form.telefone.id_for_label }}">{{ form.telefone.label }}</label>
                        {{ form.telefone.errors }}
                        {{ form.telefone }}
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <p class="btn-row"><input type="submit" value="Salvar"/></p>


                            </div>
                        </div>
                    </div>
                    {% if cliente %}
                                <!--<p class="btn-row"><input type="submit" value="Excluir"/></p>-->
                                <p><a href="{% url 'excluir_cliente' cliente.id %}">Excluir</a></p>

                                {% endif %}

                </form>


            </form>
        </div>


    </div>
</section>
{% endblock %}